@model IEnumerable<Modelo.Exame>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexExame</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateExame")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultaId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditExame", new { id = item.ExameId }) |
            @Html.ActionLink("Details", "DetailsExame", new { id = item.ExameId }) |
            @Html.ActionLink("Delete", "DeleteExame", new { id = item.ExameId })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
